.places {
    text-align: center;
}

.places-title {
    text-align: left;
    font-size: 30px;
    margin-left: 20px;
    margin-bottom: 0px;
}

.places-listing-name {
    font-size: 30px;
    text-align: center;
}

.places article {
    width: 390px;
    padding: 20px;
    margin: 20px;
    border: 1px solid #ff5a5f;
    border-radius: 4px;
    display: inline-block;
}